.font-size-lg {
    font-size: larger;
  }
  
  .font-size-sm {
    font-size: smaller;
    color: rgb(202, 184, 20);
  }
  
  .font-weight-bold {
    font-weight: bold;
    color: #4597a2;
  }

  .img-large {
    width: 80%; 
    height: auto;
  }
  